body {
    font-family: "Arial", "Droid Sans";
    font-size: xx-large;
    margin: 5px;
    padding: 10px;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 10px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.input-container {
    display: grid;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

button {
    padding: 8px 12px;
    background-color: #4da3ff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 40px;
    font-size: medium;
}

ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

li label {
    flex: 1;
    margin-right: 10px;
}

li button {
    background-color: #f8001e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: e-resize;
}

/* Positioning for Music Buttons */
#playButton {
    position: fixed;
    top: 20px;
    left: 20px;
}

.button-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
}